$cell-border-color: rgba(0, 0, 0, 0.08);
$text-color-primary: rgba(0, 0, 0, 0.85);
$text-color-secondary: rgba(0, 0, 0, 0.55);
$text-color-tertiary: rgba(0, 0, 0, 0.40);
$border-color-secondary: rgba(0, 0, 0, 0.20);
$border-hover-color: rgba(0, 0, 0, 0.10);

$cell-border-color-dark: rgba(255, 255, 255, 0.15);
$text-color-dark-primary: rgba(255, 255, 255, 0.85);
$text-color-dark-secondary: rgba(255, 255, 255, 0.55);
$text-color-dark-tertiary: rgba(255, 255, 255, 0.40);
$border-color-dark-primary: rgba(255, 255, 255, 0.15);
$border-color-dark-secondary: rgba(255, 255, 255, 0.25);
$border-hover-color-dark: rgba(255, 255, 255, 0.10);

$cell-color-accent-blue: rgba(22, 33, 47, 1);

$background-light: rgba(0, 0, 0, 0.03);
$background-dark: rgba(255, 255, 255, 0.03);

$radius-lg: 6px;
$radius-md: 4px;

$spacing-sm: 10px;
$spacing-md: 20px;
$spacing-lg: 30px;
$spacing-xl: 50px;
